@model SaoBei.Models.MensalidadeIntegrante
@using SaoBei.Models;

@{
    ViewBag.Title = "Mensalidade";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mensalidades</h2>

@using (Html.BeginForm("Mensalidade", "Mensalidades", FormMethod.Get))
{

    <div class="row" style="margin-bottom: 20px">
        <div class="col-md-12">
            @Html.Label("Calendário")
            @Html.DropDownListFor(model => model.CalendarioID, new SelectList(ViewBag.Calendarios, "ID", "Ano"), "Selecione", htmlAttributes: new { @class = "form-control" })
        </div>
    </div>
}

@foreach (Integrante integrante in ViewBag.Integrantes as List<Integrante>)
{
    <div style="border-top: 1px solid rgba(12, 29, 86, 0.2); padding: 3px 3px 3px 3px">
        <div class="row">
            <div class="col-md-8">
                <p>@integrante.Nome</p>
            </div>
            <div class="col-md-3">
                <p>Situação: Pendente</p>
            </div>
            <div class="row">
                <div class="col-md-1">
                    <button class="btn btn-success details pull-right btn-block" title="Baixar" data-integrante="@integrante.ID" data-calendario="@Model.CalendarioID"><i class="glyphicon glyphicon-usd"></i></button>
                </div>
            </div>
        </div>
    </div>
}

<div id="baixarMensalidades" class="modal"></div>

@section Scripts {
    @Scripts.Render("~/Scripts/Views/Mensalidades/Mensalidade.js")
    
}