@model IEnumerable<SaoBei.Models.Calendario>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ano)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Janeiro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fevereiro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Abril)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Maio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Junho)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Julho)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Agosto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Setembro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Outubro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Novembro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dezembro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorMensalidade)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ano)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Janeiro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fevereiro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Marco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Abril)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Maio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Junho)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Julho)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Agosto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Setembro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Outubro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Novembro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dezembro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorMensalidade)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
